@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
@tailwind utilities;


* {
  box-sizing: border-box;
}
html, body, #root {
  min-height: 100vh;
}




@layer utilities {
    body{
      @apply font-[Roboto] font-sans m-0 p-0 font-['14px'] text-gray-200 bg-gray-900;
    }
    .screen-content {
      @apply flex flex-col items-center gap-y-5 mt-20 h-screen;
    }
    .nav-flex{
      @apply flex justify-between items-center h-12 px-10;
    }
    .page-flex{
      @apply flex flex-col items-center;
    }
    .hero-center{
      @apply flex h-40 items-center;
    }
    .hero-flex-center{
       @apply flex flex-col gap-y-5 h-20 w-full mt-[15%] sm:mt-[5%] items-center;
    }
    .card-basic{
      @apply flex flex-col items-center p-10 gap-y-5 bg-gray-800 rounded-sm shadow-2xl;
    }
    .font-large{
      @apply font-bold text-4xl tracking-widest;
    }
    .purple-link{
      @apply rounded-sm bg-purple-400 px-3 py-1 font-bold;
    } 
    .blue-button{
      @apply rounded-sm bg-blue-400 px-3 py-1 font-bold cursor-pointer;
    }
    .flex-center{
      @apply flex flex-col items-center;
    }
    .input-rounded{
      @apply py-1 px-2 rounded-sm;
    }
    
     .side-menu-display{
      @apply bg-amber-700 h-1/2 w-40 transition duration-500 delay-300 ease-in-out fixed z-20;
    }
    
    .side-menu-hide{
      @apply bg-amber-700 h-1/2 w-40 transition duration-500 -translate-x-full delay-300 ease-in-out fixed z-20;
    }
    .user-menu-display{
      @apply h-auto w-40 transition bg-amber-700 duration-500 delay-300 top-10 right-0 ease-in-out fixed z-20;
    }
    .user-menu-hide{
      @apply h-auto w-40 transition -translate-y-full duration-500 delay-300 bg-amber-700 top-10 right-0 ease-in-out fixed z-20;
    }
   .hover-close{
     @apply flex justify-end m-2 cursor-pointer hover:text-yellow-400;
   }
   .rotate-chevron{
     @apply rotate-180 ease-in-out duration-500;
   }
   .back-chevron{
    @apply rotate-none ease-in-out duration-500;
   }
   .link-hover{
    @apply hover:rounded-sm hover:bg-amber-600 focus:outline-2 p-2;
   }
   .input-search-block{
    @apply block w-full h-10 p-4 ps-15 rounded mb-8 italic text-gray-600 bg-amber-100 focus:outline-none text-xl shadow-lg;
   }
}


.progress-value{
   animation: load 10s normal forwards;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}